.ui {
  font-family: "Balsamiq Sans", cursive !important;
}

.pusher {
  background-image: url("../img/backgroud.jpg") !important;
  background-repeat: repeat !important;
  background-size: 100% !important;
}

button {
  background-color: #06383f !important;
  color: white !important;
}

.ui.card {
  width: 100% !important;
  border-radius: 10px !important;
}

#matric {
  display: none;
}
#inter {
  display: none;
}

.steps {
  width: 100%;
}

.next-button {
  background: #e0e1e2 none !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.ui.label {
  margin-top: 0.5rem;
}

.predict-button {
  background-color: #06383f !important;
  color: white !important;
}

.feedback-button {
  justify-content: flex-end;
  display: flex;
}

.ui.accordion {
  margin-top: 0.5rem;
}

.ui.bottom.attached.segment.pushable {
  margin-bottom: 0 !important;
}
