{% extends 'layout.html' %} {% block title %} Home {%
endblock %} {% block content %}
<div class="row">
  <div class="ui eight wide column center aligned">
    <h1 class="ui">I Guide</h1>
  </div>
</div>
<div class="row">
  <div class="ui eight wide column">
    <p class="ui" style="color: black; font-size: larger">
      The website aims to provide career counselling to the
      intermediate students or the ones who just completed
      their intermediate studies.This website will allow the
      students to enter their interest, hobbies, current
      marks, current subject and all the similar attributes.
      The list of degree programs, their success estimates
      and a suitable university with respect to their
      financial status displayed on a web portal.
    </p>
  </div>
</div>
{% endblock %}
