{% extends 'layout.html' %} {% block title %} New student
details {% endblock %} {% block content %}
<div class="row">
  <div class="ui eight wide column">
    <div class="ui ordered steps">
      <div class="first active step">Info</div>
      <div class="second step">Matric</div>
      <div class="third step">Inter</div>
    </div>

    <div class="ui card" style="padding: 0.5rem 1rem">
      <div class="content">
        <div class="ui header center aligned">
          New student details
        </div>
        <br />
        <div
          class="ui error message"
          style="display: none"
        ></div>
        <div class="description">
          <form
            class="ui form info-form"
            method="POST"
            action="{{ url_for('student_info') }}"
          >
            <div id="info">
              <div class="field">
                <label>Hobbies</label>
                <input
                  type="text"
                  name="hobbies"
                  placeholder="Enter your hobbies"
                />
              </div>
              <div class="field">
                <label>Goals</label>
                <input
                  type="text"
                  name="goals"
                  placeholder="Enter your goals"
                />
              </div>
              <button
                class="ui large button info-next"
                type="submit"
              >
                Next
              </button>
              <div class="ui error message"></div>
            </div>
          </form>
          <form
            class="ui form matric-marks-form"
            method="POST"
            action="{{ url_for('student_matric_marks') }}"
          >
            <div id="matric">
              <h4 class="ui center aligned">
                Matric Marks
              </h4>
              <div class="field">
                <label>Matric Group</label>
                <select
                  name="m_group"
                  class="ui fluid dropdown matric-group"
                >
                  <option value="">Select</option>
                  <option value="Science ( Bio)">
                    Science ( Bio)
                  </option>
                  <option value="Science (Computer )">
                    Science (Computer )
                  </option>
                  <option value="O level">O level</option>
                </select>
              </div>
              <div class="fields equal width">
                <div class="field">
                  <label>English Marks</label>
                  <input
                    type="number"
                    name="m_english_marks"
                    placeholder="Enter Marks"
                  />
                </div>
                <div class="field">
                  <label>Urdu Marks</label>
                  <input
                    type="number"
                    name="m_urdu_marks"
                    placeholder="Enter Marks"
                  />
                </div>
                <div class="field">
                  <label>Islamic Studies Marks</label>
                  <input
                    type="number"
                    name="m_islamic_studies_marks"
                    placeholder="Enter Marks"
                  />
                </div>
              </div>
              <div class="fields equal width">
                <div class="field">
                  <label>Pak Studies Marks</label>
                  <input
                    type="number"
                    name="m_pak_studies_marks"
                    placeholder="Enter Marks"
                  />
                </div>
                <div class="field">
                  <label>Biology/Computer Marks</label>
                  <input
                    type="number"
                    name="m_bio_comp_marks"
                    placeholder="Enter Marks"
                  />
                </div>
                <div class="field">
                  <label>Physics Marks</label>
                  <input
                    type="number"
                    name="m_physics_marks"
                    placeholder="Enter Marks"
                  />
                </div>
              </div>
              <div class="fields equal width">
                <div class="field">
                  <label>Chemistry Marks</label>
                  <input
                    type="number"
                    name="m_chemistry_marks"
                    placeholder="Enter Marks"
                  />
                </div>
                <div class="field">
                  <label>Mathematics Marks</label>
                  <input
                    type="number"
                    name="m_mathematics_marks"
                    placeholder="Enter Marks"
                  />
                </div>
                <div class="field" style="opacity: 0">
                  <label>Last name</label>
                  <input
                    disabled
                    type="number"
                    placeholder="Last Name"
                  />
                </div>
              </div>
              <button
                class="ui large button info-matric"
                type="submit"
              >
                Next
              </button>
              <div class="ui error message"></div>
            </div>
          </form>
          <form>
            <div id="inter">
              <h4 class="ui center aligned">
                Intermediate Marks
              </h4>
              <div class="field">
                <label>Intermediate Group</label>
                <select
                  required
                  name="i_group"
                  class="ui fluid dropdown intermediate-group"
                >
                  <option value="">Select</option>
                  <option value="FSC (Pre-Engineering)">
                    FSC (Pre-Engineering)
                  </option>
                  <option value="FSC (Pre - Medical)">
                    FSC (Pre - Medical)
                  </option>
                  <option value="ICS (Computer Science)">
                    ICS (Computer Science)
                  </option>
                  <option value="ICS (Statistics)">
                    ICS (Statistics)
                  </option>
                  <option value="A level">A level</option>
                </select>
              </div>
              <div class="fields equal width">
                <div class="field">
                  <label>English Marks</label>
                  <input
                    required
                    type="number"
                    name="i_english_marks"
                    placeholder="Enter Marks"
                  />
                </div>
                <div class="field">
                  <label>Urdu Marks</label>
                  <input
                    required
                    type="number"
                    name="i_urdu_marks"
                    placeholder="Enter Marks"
                  />
                </div>
                <div class="field">
                  <label>Islamic Studies Marks</label>
                  <input
                    required
                    type="number"
                    name="i_islamic_studies_marks"
                    placeholder="Enter Marks"
                  />
                </div>
              </div>
              <div class="fields equal width">
                <div class="field">
                  <label>Pak Studies Marks</label>
                  <input
                    required
                    type="number"
                    name="i_pak_studies_marks"
                    placeholder="Enter Marks"
                  />
                </div>
                <div class="field">
                  <label>Mathematics/Biology Marks</label>
                  <input
                    required
                    type="number"
                    name="i_math_bio_marks"
                    placeholder="Enter Marks"
                  />
                </div>
                <div class="field">
                  <label>Physics/Statistics Marks</label>
                  <input
                    required
                    type="number"
                    name="i_physics_statistics_marks"
                    placeholder="Enter Marks"
                  />
                </div>
              </div>
              <div class="fields">
                <div class="field">
                  <label>Computer/Chemistry Marks</label>
                  <input
                    required
                    type="number"
                    name="i_comp_chem_marks"
                    placeholder="Enter Marks"
                  />
                </div>
              </div>
              <button class="ui large button">
                Predict
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(".matric-group").dropdown();
  $(".intermediate-group").dropdown();
  $(".first").click(function () {
    $("#info").show();
    $("#matric").hide();
    $(".first").addClass("active");
    $(".second").removeClass("active");
    $(".third").removeClass("active");
    $("#inter").hide();
  });

  $(".second").click(function () {
    $("#info").hide();
    $("#matric").show();
    $(".second").addClass("active");
    $(".first").removeClass("active");
    $(".third").removeClass("active");
    $("#inter").hide();
  });

  $(".third").click(function () {
    $("#info").hide();
    $("#matric").hide();
    $(".third").addClass("active");
    $(".first").removeClass("active");
    $(".second").removeClass("active");
    $("#inter").show();
  });

  $(".info-next").click(function () {
    is_valid = $(".ui.form.info-form").form("is valid");
    if (is_valid) {
      $(".ui.error.message").hide();
      $(".first").addClass("completed");
      $("#info").hide();
      $("#matric").show();
      $(".second").addClass("active");
      $(".first").removeClass("active");
      $(".third").removeClass("active");
      $("#inter").hide();
    }
  });

  $(".info-matric").click(function () {
    is_valid = $(".ui.form.matric-marks-form").form(
      "is valid"
    );
    if (is_valid) {
      $(".second").addClass("completed");
      $("#info").hide();
      $("#matric").hide();
      $(".third").addClass("active");
      $(".first").removeClass("active");
      $(".second").removeClass("active");
      $("#inter").show();
    }
  });

  $(".ui.form.info-form").form({
    fields: {
      hobbies: {
        rules: [
          {
            type: "empty",
            prompt: "Hobbies Can't be Empty",
          },
        ],
      },
      goals: {
        rules: [
          {
            type: "empty",
            prompt: "Goals Can't be Empty",
          },
        ],
      },
    },
  });

  $(".ui.form.matric-marks-form").form({
    fields: {
      m_group: {
        identifier: "m_group",
        rules: [
          {
            type: "empty",
            prompt: "Please select a group",
          },
        ],
      },
      m_english_marks: {
        rules: [
          {
            type: "integer[33..150]",
            prompt:
              "Please enter valid value for english marks",
          },
        ],
      },
      m_urdu_marks: {
        rules: [
          {
            type: "integer[33..150]",
            prompt:
              "Please enter valid value for urdu marks",
          },
        ],
      },
      m_islamic_studies_marks: {
        rules: [
          {
            type: "integer[33..150]",
            prompt:
              "Please enter valid value for islamic studies marks",
          },
        ],
      },
      m_pak_studies_marks: {
        rules: [
          {
            type: "integer[33..150]",
            prompt:
              "Please enter valid value for pakistan studies marks",
          },
        ],
      },
      m_bio_comp_marks: {
        rules: [
          {
            type: "integer[33..150]",
            prompt:
              "Please enter valid value for biology/computer marks",
          },
        ],
      },
      m_physics_marks: {
        rules: [
          {
            type: "integer[33..150]",
            prompt:
              "Please enter valid value for physics marks",
          },
        ],
      },
      m_chemistry_marks: {
        rules: [
          {
            type: "integer[33..150]",
            prompt:
              "Please enter valid value for chemistry marks",
          },
        ],
      },
      m_mathematics_marks: {
        rules: [
          {
            type: "integer[33..150]",
            prompt:
              "Please enter valid value for mathematics marks",
          },
        ],
      },
    },
  });
</script>
{% endblock %}
