{% extends 'layout.html' %} {% block title %} Sign Up {% endblock %} {% block content %}
<div class="row" style="margin-top: 7rem">
  <div class="five wide column">
    <div class="ui card">
      <div class="content">
        <h1 class="ui header center aligned">Sign Up</h1>
        <div class="description">
          <form class="ui large form" method="POST" action="{{ url_for('sign_up') }}">
            <div class="field">
              <label>Name</label>
              <input type="text" name="name" placeholder="Name" />
            </div>
            <div class="field">
              <label>Email</label>
              <input type="email" name="email" placeholder="Email" />
            </div>
            <div class="field">
              <label>Password</label>
              <input type="password" name="password" placeholder="Password" />
            </div>
            <div class="ui grid centered" style="margin: auto">
              <button class="ui large button" type="submit" style="width: 100%">Sign Up</button>
            </div>
            <div class="ui error message"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(".ui.form").form({
    fields: {
      name: {
        rules: [
          {
            type: "empty",
            prompt: "Name Can't be Empty",
          },
        ],
      },
      email: {
        rules: [
          {
            type: "empty",
            prompt: "Email Can't be Empty",
          },
        ],
      },
      password: {
        identifier: "password",
        rules: [
          {
            type: "empty",
            prompt: "Please enter a password",
          },
          {
            type: "minLength[6]",
            prompt: "Your password must be at least {ruleValue} characters",
          },
        ],
      },
    },
  });
</script>
{% endblock %}
