{% extends 'layout.html' %} {% block title %} Sign Up {%
endblock %} {% block content %}
<div class="row">
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="header center aligned">Sign Up</div>
        <div class="description">
          <form
            class="ui form"
            method="POST"
            action="{{ url_for('sign_up') }}"
          >
            <div class="field">
              <label>Name</label>
              <input
                required
                type="text"
                name="name"
                placeholder="Name"
              />
            </div>
            <div class="field">
              <label>Email</label>
              <input
                required
                type="email"
                name="email"
                placeholder="Email"
              />
            </div>
            <div class="field">
              <label>Password</label>
              <input
                required
                type="password"
                name="password"
                placeholder="Password"
              />
            </div>
            <div
              class="ui grid centered"
              style="margin: auto"
            >
              <button class="ui button" type="submit">
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
