{% extends 'layout.html' %} {% block title %} Feedback {%
endblock %} {% block content %}
<div class="row">
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="ui header center aligned">Feedback</div>
        <div class="description">
          <form
            class="ui form"
            method="POST"
            action="{{ url_for('feedback') }}"
          >
            <div class="field">
              <label>Comment</label>
              <textarea name="comment" rows="5"></textarea>
            </div>
            <div class="field">
              <label>Rating</label>
              <div
                class="ui star rating"
                data-rating="3"
                data-max-rating="5"
              ></div>
              <input
                type="hidden"
                id="rating"
                name="rating"
              />
            </div>
            <div
              class="ui grid centered"
              style="margin: auto"
            >
              <button class="ui button" type="submit">
                Submit
              </button>
            </div>
            <div class="ui error message"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(".ui.rating").rating({
    initialRating: 3,
    maxRating: 5,
  });
  rating = $(".ui.rating").rating("get rating");
  $("#rating").val(rating);
  $(".ui.rating").click(function () {
    rating = $(".ui.rating").rating("get rating");
    $("#rating").val(rating);
  });
  $(".ui.form").form({
    fields: {
      comment: {
        rules: [
          {
            type: "empty",
            prompt: "Comment Can't be Empty",
          },
        ],
      },
    },
  });
</script>
{% endblock %}
